fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6

# MODELOS E NLP
transformers==4.40.2
sentence-transformers==2.7.0
torch==2.2.2
torchvision==0.17.2

# UTILIDADES
nltk==3.8.1
pypdf2==3.0.1
python-dotenv==1.0.0
pydantic==2.5.0
aiofiles==23.2.1

# SEGURANÇA / AUTENTICAÇÃO
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1

# TESTES
pytest==7.4.3
pytest-asyncio==0.21.1

# FIX para selenium
typing_extensions==4.14.0
